@import url('http://fonts.cdnfonts.com/css/minecraftia');

.App {
  font-family: Minecraftia;
  text-align: center;

}

.boxesGroup {
  display: grid;
  max-width: 26rem;
  max-height: 12rem;
overflow:hidden;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


body {
 
  
  color: #fad58d;
  display:flex;
  justify-content: center;
 
    background-image: url('./assets/minecraft-background.gif');
    background-size: cover;
    
    height: 100vh;
    padding:0;
    margin:0;

}


.box {
  background-color: #8b8b8b;
  border-top: thick double #373737;
  border-left: thick double #373737;
  border-right: double #ffffff;
  border-bottom: double #ffffff;
  width: 36px;
  height: 36px;
  float: left;
}


.box:hover{background-color:#bcbcbc}

.content {
  /* centering content in box */
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* decorating */
  font-weight: bold;
}

#inventory {
  
  width: 36*9px;
  height: 36px*9;
  background: #c6c6c6;
  border-radius: 3px;
  
  padding:10px;
  margin-bottom: 10px;
}

#inventory-div {
  box-shadow:inset -10px -20px 1em 0px black, inset 20px 20px 1em #fefefe, 1px 1px 0.5em black;
  padding-top:4px;
  padding-left: 4px;
  border: groove 3px;
  border-right: solid 5px;
  border-color: #373737;
  border-radius:3px;
}

.select-group {
margin-top:10px;
}

