.App {
  font-family: sans-serif;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #c6c6c6;
  margin: 10px;
  color: #404040;
  display:flex;
  justify-content: center;
}
.gridCell {
  background-color: #8b8b8b;
  border-top: thick double #373737;
  border-left: thick double #373737;
  border-right: double #ffffff;
  border-bottom: double #ffffff;
  width: 36px;
  height: 36px;
  float: left;
}

#inventory {
  display: grid;
  max-width: 36px*9;
  max-height: 36px*3;
overflow:hidden;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
