@import url('http://fonts.cdnfonts.com/css/minecraftia');

.App {
  font-family: Minecraftia;
  text-align: center;

}

.boxesGroup {
  display: grid;
 
  grid-template-rows: 0px 1fr 1fr 1fr 0px 56px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


body {
 
  
  color: #fad58d;
  display:flex;
  justify-content: center;
 
    background-image: url('./assets/minecraft-background.gif'); 
    background-size: cover;
    
    height: 100vh;
    padding:0;
    margin:0;

}


.steve-background { 
  left: 11.63em;
  top: 5.1em;
  top: 1;
  position: relative;
  background-color: black;
  background-image: url('./assets/villager.gif');
  background-size: 14em;
  background-repeat: no-repeat;
  background-position: 42% 87%;
  border-top: thick double #373737;
  border-left: thick double #373737;
  border-right: double #ffffff;
  border-bottom: double #ffffff;
  width: 108px;
  height: 169px;
  height: 169px;
  margin: -140px;
}

.box {
  background-color: #8b8b8b;
  border-top: thick double #373737;
  border-left: thick double #373737;
  border-right: double #ffffff;
  border-bottom: double #ffffff;
  width: 36px;
  height: 36px;
  float: left;
  position: relative;
}

.result {
  position: relative;
    left: 11em;
    top: 2.7em;
}

.shield{
  background-image: url('./assets/shield-slot.png');
  background-size:35px;
  background-repeat:no-repeat;
  background-position: 50% 0; 
    position: relative;
    left: 41%;
    bottom: 3%;
    
}

.chest{
    background-image: url('./assets/chest-slot.png');
    background-size:37px;
    background-repeat:no-repeat;
      position: relative;
     
}

.helmet{
  background-image: url('./assets/helmet-slot.png');
  background-size:37px;
  background-repeat:no-repeat;
    position: relative;
  
}

.legging{
  background-image: url('./assets/legging-slot.png');
  background-size:35px;
  background-repeat:no-repeat;
    position: relative;
   
}

.boot{
  background-image: url('./assets/boot-slot.png');
  background-size:37px;
  background-repeat:no-repeat;
    position: relative;
    
}

.box:hover{background-color:#bcbcbc}

.content {
  /* centering content in box */
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#inventory {
  
  background: #c6c6c6;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 23.6rem;
}

#inventory-div {
  box-shadow:inset -10px -20px 1em 0px black, inset 20px 20px 1em #fefefe, 1px 1px 0.5em black;
  padding-top:4px;
  padding-left: 4px;
  border: groove 3px;
  border-right: solid 5px;
  border-color: #373737;
  border-radius:3px;
}

.select-group {
margin-top:10px;
}

.armory {
  grid-column: 1/span 9; 
}

.crafting-text{
  position: relative;
  left: 4.3em;
  top: -1.7em;
  color: #373737;
}

.crafting-1{
  position: relative;
  left: 14em;
  top: 1.5em;
}

.crafting-2{
  position: relative;
  left: 14em;
  top: 1.5em;
}

  .crafting-3{
    position: relative;
    left: 8.46em;
    top: 4.3em;
  }

  .crafting-4{
    position: relative;
    left: 8.46em;
    top: 4.3em;
  }


.result-arrow{
  background-image:url('./assets/arrow.png');
  position: relative;
  background-repeat: no-repeat;
  height: 44px;
  background-size: 34px;
  width: 48px;
  left: 19.7em;
  top: 5.7em;
  opacity: 0.7;
}

.delete{
  background-image: url('./assets/delete.jpg');
    background-size: cover;
    background-color: #cf1f1f80;
}

.quantity{
  position: absolute;
  left: 33%;
  top: 47%;
  font-size: 12px;
  display: flex;
  width: 24px;
  justify-content: flex-end;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  color:white;
}